#header
{
    background-color: #4285F4 !important;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white !important;
    font-family: sans-serif !important;
    box-shadow: 2px 2px 0px 2px whitesmoke;
    
}
#footer
{
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: whitesmoke;
}
#phoneSection
{
    padding-top: 40px;
    padding-bottom: 40px;
 }
#carouselsection
{
    margin-top: 130px;
}